.header {
  font-family:  'Victor Mono', monospace;

    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav{
    list-style: none;
      display: flex;
      gap: 30px;
      font-size: 17px;
  }
  a{
    cursor: pointer;
  color: white;
  text-decoration: none;}
  a:hover{
    color: rgb(0, 255, 34);
  }
  
  h2 {
    font-family: 'Victor Mono', monospace;
    font-weight: 100;
    font-size: 40px;
    font-weight: thin;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 34);
    
  }

  .header{
    flex-wrap: wrap;

  }
  