
.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cactact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    }

    .contacts-normal{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .catact-icons{
        display: flex;
        gap: 30px;
    }


    