.grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    padding: 6vh;
    font-family: sans-serif;
    background-color: rgb(35, 7, 67);
}